{% extends 'base.html' %}
{% block content %}
<div class="white-background">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2670.697049840678!2d18.778709476243698!3d47.98091477122662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a92a38e85c805%3A0xf24363d8d8b3573a!2zVsO2csO2cyBUw7ZsZ3kgw4l0ZWwtSXRhbCBCw6Fy!5e0!3m2!1sen!2shu!4v1741811320394!5m2!1sen!2shu" style="border:0;" width="100%" height="240vh" class="mt-5" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div class="container">
    <div class="row">
    <div class="col-md-6">
    <h2 class="py-4 main-underline">Kapcsolat</h2>
                <div class="fs-5 mb-2">
                    <h3>Cím</h3>
                    <p>2635 Vámosmikola, Árpád utca 1.</p>
                </div>
                <div class="fs-5 mb-2">
                    <h3>Telefonszám</h3>
                    <p>06-27-376-282</p>
                </div>
    </div>
    <div class="col-md-6">
        <h2 class="py-4 main-underline">Nyitvatartások</h2>
                    <div class="fs-5 mb-2 ">
                        <h3>Nyitvatartás</h3>
                        <p>H-V: 10:00-20:00</p>
                    </div>
                    <div class="fs-5 mb-2">
                        <h3>Konyha nyitvatartás</h3>
                        <p>H-V: 10:00-19:00</p>
                    </div>
        </div>
    </div>
</div>
</div>
{% endblock %}