{% extends 'base.html' %}

{% block content %}
<div class="white-background">
<div class="container">
<h1 class="pt-4 main-underline">Étlap módosítása</h1>
<div class="py-4">
{%if not menu_preview %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" id="fileInput" accept=".xlsx" required onchange="toggleUploadButton()" class="btn btn-secondary my-2">
    <button type="submit" id="uploadButton" disabled class="btn btn-secondary my-2">Feltöltés & Előnézet</button>
</form>


<!-- Export Button -->
<form method="get" action="{% url 'menu_modify' %}">
    <button type="submit" name="export" class="btn btn-secondary my-2">Jelenlegi menü exportálása</button>
</form>

{% endif %}

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<!-- Preview Section -->
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if success %}
    <div class="success">{{ success }}</div>
{% endif %}
{% if menu_preview %}
    <h2>Menü előnézete</h2>
    <table>
        <tr>
            <th>Név</th>
            <th>Összetevők</th>
            <th>Kategória</th>
            <th>Ár</th>
        </tr>
        {% for item in menu_preview %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.ingredients }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Confirm Update Button -->
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="confirm_update" onclick="return confirmUpdate();" class="btn btn-secondary my-2">Módosítás megerősítése</button>
    </form>
    {% endif %}
    <!-- Rollback Button -->
    {% if menu_backup %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="rollback" onclick="return confirmRollback();" class="btn btn-secondary my-2">Visszaállítás</button>
    </form>
    {% endif %}
</div>
</div>
</div>

<script>
function confirmUpdate() {
    return confirm("Biztos benne, hogy módosítani szeretné az étlapot? Ez törli a hiányzó tételeket.");
}

function confirmRollback() {
    return confirm("Biztos benne, hogy vissza szeretné állítani a korábbi étlapot?");
}

function toggleUploadButton() {
    var fileInput = document.getElementById("fileInput");
    var uploadButton = document.getElementById("uploadButton");

    uploadButton.disabled = !fileInput.files.length;
}
</script>
{% endblock %}
